<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Model: {{bike.model}}</h1>
    Wheel Size: {{bike.wheelSize}}

    <div class="">
      <a href="/bikes/{{._id}}/edit">Edit</a>
      <a href="/bikes/{{bike._id}}/delete">Delete</a>
    </div>
  </body>
</html>
