<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Edit Bikes</h1>

    <form class="" action="/bikes/{{bike._id}}" method="post">
      <div class="">
        <label for="model">Name</label>
        <input type="text" name="model" value="{{bike.model}}">{{#errors.model}}Model is required{{/errors.model}}
      </div>

      <div class="">
        <label for="wheelSize">Wheel Size</label>
        <input type="text" name="wheelSize" value="{{bike.wheelSize}}">{{#errors.wheelSize}}Wheel Size is required{{/errors.wheelSize}}
      </div>

      <button type="submit" name="button">Update Bike Info</button>
    </form>


  </body>
</html>
