<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>All the bikes</h1>

    <a href="/bikes/new">New Bike</a>


    {{#bikes}}
    <li><a href="/bikes/{{_id}}">{{model}}</a></li>
    {{/bikes}}

  </body>
</html>
